@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Cairo', Arial, 'Noto Kufi Arabic', 'Noto Sans Arabic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  direction: rtl;
  background: #f1f5f9;
}
